<%-include('./layout/header.ejs')%>
<div class="div1">
    <div  class="link" ><a href="/login">login</a>/ <a href="/signup">signup</a><div/>
    <div class="div2">
        <img src="./juice.png" alt="images" class="img">
        <div>
           <h1>Smooth And Ice to Chill</h1>
           <button class="btn">view Price</button>
        </div>
    </div>
    
   
</div>
<%-include('./layout/footer.ejs')%>