<%-include('./layout/header.ejs')%>
<div class="div1">
    <div class="link"><a href="/login">login</a>/ <a href="/signup">signup</a>
        <div />
        <div class="div2">
            <img src="./juice.png" alt="images" class="img">
            <div>
                <h1>Smooth And Ice to Chill</h1>
                <button class="btn">view Price</button>
            </div>
        </div>


    </div>
<div class="div3">
    <div class="box-in-content"><img src="../back1.avif" alt="" class="back-img"></div>
    <div class="box-in-content"><img src="../fastfood.avif" alt="" class="back-img"></div>
    <div class="box-in-content"><img src="../fastfood1.avif" alt="" class="back-img"></div>
</div>
<div class="div3">
    <div class="box-in-content"><img src="../fastfood1.avif" alt="" class="back-img"></div>
    <div class="box-in-content"><img src="../fastfood.avif" alt="" class="back-img"></div>
    <div class="box-in-content"><img src="../back1.avif" alt="" class="back-img"></div>
</div>
<div class="div3">
    <div class="box-in-content"><img src="../fastfood.avif" alt="" class="back-img"></div>
    <div class="box-in-content"><img src="../fastfood1.avif" alt="" class="back-img"></div>
    <div class="box-in-content"><img src="../back1.avif" alt="" class="back-img"></div>
</div>
<%-include('./layout/footer.ejs')%>